{%extends 'base.html'%}
{%block content %}
            <h1> Список заданий</h1>

            <table class="table table-hover table-striped"> 
                <thead>
                    <tr>
                        <th> ID</th>
                        <th> Задание</th>
                        <th> Баллы</th>
                    </tr>
                </thead>

                <tbody>
            {% for ex in exercise_list %}
            <tr><td> {{ex.id}}</td><td><a href=" {{ex.get_absolute_url }}" > {{ex.name}}.</a> </td> <td> {{ex.score}} </td></tr>
            {% endfor %}
                </tbody>
            </table> 

{%endblock%}
