{%extends 'base.html'%}
{%block content %}
<h1> Список заданий</h1>
<div class="row">
    <div class="col-12">
        <input id="search_id" class='form-controls' onchange="getExercise()">
        <button  class="btn btn-primary" onclick="getExercise()"> поиск</button>
    </div>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
<div id="ajax_data"></div>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for ex in exercise_list %}
    <div clas="col">
        <div class="card" >
            {%if ex.image%}
            <img src="{{ ex.image.preview.url }}" class="card-img-top" alt="...">
            {%endif%}
            <div class="card-body">
                <h5 class="card-title">{{ex.name}}</h5>
                <p class="card-text"> немножко текста</p>
                <a href="{{ex.get_absolute_url}}" class="btn btn-primary">Подробнее</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<script>
    function rendeItem(item){
        let tempalte = `<div clas="col">
                        <div class="card" >
                            <img src="${item.get_preview}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">${item.name}</h5>
                                <p class="card-text"> немножко текста</p>
                                <a href="${item.get_absolute_url}" class="btn btn-primary">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    `
        return tempalte
    
    }
    async function getExercise(){
        let search = document.getElementById('search_id').value
        let response = await axios.get('/api/exercise/',{params:{search:search}})
        console.log(response.data)
        let el = document.getElementById('ajax_data')
        let template = ''
        for(let item of response.data){
            template += rendeItem(item)
        }
        el.innerHTML = template
        
    }

     var input = document.getElementById('search_id');
    input.oninput = function(){ getExercise()}
</script>
{%endblock%}
