{%extends 'base.html'%}
{%block content %}
        <h1> Задание {{exercise.id}}</h1>
        <div > <b>Название: </b>{{exercise.name}}</div> 
        <div class="row">
            <div class="col-8" > <b>Текс: </b>{{exercise.text}}</div> 
            {% if exercise.image %}
            <div class="col-4">
                <img  class=" exercise-image" src="{{exercise.image.url}}">
            </div>
            {%endif%}

        </div>
            <div > <b>Решение: </b>{{exercise.solution}}</div> 
        <div > <b>Баллы: </b>{{exercise.score}}</div> 
            <hr>
        <h2>Ответ </h2>
        {% if team %}
            {%if success %}
            <div class="alert alert-success">{{success}}</div>
            {%endif%}
            {% if not answer %}
            <form method="POST" action="/answer_create">
                {% csrf_token %}
                {{form.as_p}}
                <div class="row">
                <button class="btn btn-primary"> Отправить </button>
                </div>
            </form>
            {%else%}
            <b>ваш ответ:</b>
            {{answer.value}}
            {%endif%}
         {%endif%}
         <div>Оценки Жюри
         <ul>
         {%for x in answer.grade_set.all%}
         <li> {{x.value}}</li>
         {%endfor%}
         </ul>
        </div>
{% include 'answer_table.html' with answer_list=answer_list%}
<input  oninput="sayHello()" id="message" value="hello" class="form-control">
<button onclick="sayHello()" class="btn btn-primary"> скажи привет </button>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script>
    const csrf_token = "{{csrf_token}}"
function sayHello(){
    let textInput = document.getElementById('message')
    let text = textInput.value
    headers= {'X-CSRFToken': csrf_token}

    axios.post('/simple_ajax',{text},{headers}).then(response => alert(response.data.data))
    }
</script>

{%endblock%}

