{%extends 'base.html'%}
{% load static %}
{% block content%}

<div class="header">
<div class="row">
    <div class="col-md-6"><img src="{% static 'company.png' %}" style="height:100px"> </div>
    <div class="col-md-6 align-rigth"> <img src="{% static 'fis.jpg' %}" style="height:100px"></div>
</div>
</div>
<h1> Городская физическая регата</h1>
<div class="text">
	<p> Приглашаем учащихся 8-х классов школ, гимназий и лицеев г. Перми и Пермского   края   принять   участие   в   командном   интеллектуальном конкурсе «Городская физическая регата»,  которая состоится<b> 24 апреля  в режиме он-лайн  в 12:00 на данной платформе</b>. 

	<p> Организаторами   Регаты   выступают физический   факультет   Пермского   государственного   национального исследовательского   университета   и   Департамент   образования   города Перми. Физическая регата представляет собой командный конкурс по решению физических   задач,   который   проводится   в   4   тура.   Каждый   тур представляет   собой   коллективное   решение   трех   задач. <b>Состав команды 4 человека</b>.

<p> Проверка  задач осуществляется автоматически после окончания каждого тура.
Разбор решений проводится после каждого тура регаты.
Команды-победители и команды-призеры регаты определяются по сумме баллов, набранных каждой командой во всех турах, итоги будут подводиться по двум лигам – физико-математические школы, гимназии, лицеи   и   общеобразовательные   школы,   гимназии   и   лицеи. Продолжительность регаты – 2 часа.<p></p> 
</div>
<style>
.header{
    padding:20px
}
</style>
{%endblock%}
