{%extends 'base.html'%}
{% load static%}
{% block content%}

<div class="header">
<div class="row">
    <div class="col-md-6"><img src="{% static 'company.png' %}" style="height:100px"> </div>
    <div class="col-md-6 align-rigth"> <img src="{% static 'fis.jpg' %}" style="height:100px"></div>
</div>
</div>
<h1> Городская физическая Регата</h1>
<div class="text">
    <p> Приглашаем учащихся 8-х классов школ, гимназий и лицеев г. Перми иПермского   края   принять   участие   в   командном   интеллектуальномконкурсе «Физическая регата», которая состоится   ____ в  конференц-зале   1   корпуса  Пермского   государственногонационального   исследовательского   университета   по   адресу   ул.Букирева, 15  (план территории университетского городка и переченьобщественного транспорта приведены в  ПриложенииВ  к настоящемуинформационному   письму). 

<p> Организаторами   Регаты   выступаютфизический   факультет   Пермского   государственного   национальногоисследовательского   университета   и   Департамент   образования   городаПерми.Физическая регата представляет собой командный конкурс по решениюфизических   задач,   который   проводится   в   4   тура.   Каждый   турпредставляет   собой   коллективное   письменное   решение   трех   задач.

<p> Проверка и разбор задач осуществляются жюри после окончания каждоготура. Команды-победители и команды-призеры регаты определяются посумме баллов, набранных каждой командой во всех турах, итоги будутподводиться по двум лигам – физико-математические школы, гимназии,лицеи   и   общеобразовательные   школы,   гимназии   и   лицеи.Продолжительность регаты – 2 часа. С правилами Физической регаты можно ознакомиться в Приложении A кнастоящему   информационному   письму.   Команды-победительницы   ипризеры регаты будут награждены дипломами и призами.
</div>
<style>
.header{
    padding:20px
}
</style>
{%endblock%}
